/* start header section style */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  height: 108px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
}

header > img {
  width: 43px;
  height: 52px;
}

header > h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 60px;
  color: #141413;
}
/* end header section style */

/* start Main section style */
main {
  padding: 40px 30px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 38px;
}

.add-ingredient-form > input {
  padding: 9px 13px;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6B7280;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 399px;
}

.add-ingredient-form > button {
  padding: 9px 17px;
  background-color:#141413;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: none;
  border-radius: 6px;
  font-family: Inter, sans-serif;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}

.add-ingredient-form > button:hover {
  cursor: pointer;
}
/* end Main section style */